// Color Variables
$primary-color: #4b8a33;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: rgba(0, 0, 0, 0.904);
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Noto Serif JP', sans-serif;
$secondary-font: 'Noto Serif JP', serif;
$tertiary-font: 'M PLUS Rounded 1c';
$icon-font: 'M PLUS Rounded 1c';